
html {
    background-color: darkgreen;
    color: white;
}

header {
    text-align: center;
}
.centered {
    margin: 0 auto 50px;
    padding: 30px;
    width: 60%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
